.logo {
	container-type: inline-size;

	&__image {
		display: none;
	}
}

/* Compact + Light */
@container (max-width: 40px) {
	@media (prefers-color-scheme: light) {
		.logo__image--compact.logo__image--light {
			display: block;
		}
	}
}

/* Compact + Dark */
@container (max-width: 40px) {
	@media (prefers-color-scheme: dark) {
		.logo__image--compact.logo__image--dark {
			display: block;
		}
	}
}

/* Full + Light */
@container (min-width: 40px) {
	@media (prefers-color-scheme: light) {
		.logo__image--full.logo__image--light {
			display: block;
		}
	}
}

/* Full + Dark */
@container (min-width: 40px) {
	@media (prefers-color-scheme: dark) {
		.logo__image--full.logo__image--dark {
			display: block;
		}
	}
}
