.logo {
	width: auto;
	height: 40px;
	filter: drop-shadow(0px 0px 4px light-dark(white, black));

	&--light {
		display: block;
	}

	&--dark {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		&--dark {
			display: block;
		}

		&--light {
			display: none;
		}
	}
}