.Button {
	// Base
	display: flex;
	padding: 0.625rem;
	justify-content: center;
	align-items: center;
	border: none;
	font-weight: 600;

	// Properties
	--backgroundColor: var(--lui-shade-100);
	--foregroundColor: var(--lui-shade-900);

	&-variant {
		&-filled {
			background-color: var(--backgroundColor);
			color: var(--foregroundColor);
		}
	}

	&-shape {
		&-rounded {
			border-radius: 0.5rem;
		}

		&-pill {
			border-radius: 100vw;
		}
	}
}
