.toolbar {
	display: flex;
	flex-direction: column;
	overflow: visible;
	padding: 1rem;
	gap: 1rem;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	&__group {
		display: flex;
		gap: 0.5rem;

		&:has(.command-box) {
			align-self: flex-start;
		}
	}
}
