$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

@mixin xs {
	@media (min-width: $breakpoint-xs) {
		@content;
	}
}

@mixin sm {
	@media (min-width: $breakpoint-sm) {
		@content;
	}
}

@mixin md {
	@media (min-width: $breakpoint-md) {
		@content;
	}
}

@mixin lg {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin xl {
	@media (min-width: $breakpoint-xl) {
		@content;
	}
}

@mixin x2xl {
	@media (min-width: $breakpoint-2xl) {
		@content;
	}
}

@mixin xs-only {
	@media (max-width: $breakpoint-xs) {
		@content;
	}
}

@mixin sm-only {
	@media (max-width: $breakpoint-sm) {
		@content;
	}
}

@mixin md-only {
	@media (max-width: $breakpoint-md) {
		@content;
	}
}

@mixin lg-only {
	@media (max-width: $breakpoint-lg) {
		@content;
	}
}

@mixin xl-only {
	@media (max-width: $breakpoint-xl) {
		@content;
	}
}

@mixin x2xl-only {
	@media (max-width: $breakpoint-2xl) {
		@content;
	}
}