:root {
	--color-deep-navy-50: #eaeefa;
	--color-deep-navy-100: #d6dcf5;
	--color-deep-navy-200: #acb9ec;
	--color-deep-navy-300: #8396e2;
	--color-deep-navy-400: #5a73d8;
	--color-deep-navy-500: #3050cf;
	--color-deep-navy-600: #2740a5;
	--color-deep-navy-700: #1d307c;
	--color-deep-navy-800: #132053;
	--color-deep-navy-900: #0a1029;
	--color-deep-navy-950: #070b1d;

	--color-bright-lemon-50: #fffde6;
	--color-bright-lemon-100: #fefbcd;
	--color-bright-lemon-200: #fdf79b;
	--color-bright-lemon-300: #fdf368;
	--color-bright-lemon-400: #fcef36;
	--color-bright-lemon-500: #fbeb04;
	--color-bright-lemon-600: #c9bc03;
	--color-bright-lemon-700: #978d02;
	--color-bright-lemon-800: #645e02;
	--color-bright-lemon-900: #322f01;
	--color-bright-lemon-950: #232101;

	--color-lobster-pink-50: #fde7e8;
	--color-lobster-pink-100: #fbd0d2;
	--color-lobster-pink-200: #f8a0a5;
	--color-lobster-pink-300: #f47177;
	--color-lobster-pink-400: #f1414a;
	--color-lobster-pink-500: #ed121d;
	--color-lobster-pink-600: #be0e17;
	--color-lobster-pink-700: #8e0b11;
	--color-lobster-pink-800: #5f070c;
	--color-lobster-pink-900: #2f0406;
	--color-lobster-pink-950: #210204;

	--color-sea-green-50: #e8f7f0;
	--color-sea-green-100: #d1eedf;
	--color-sea-green-200: #a3dcb0;
	--color-sea-green-300: #75c990;
	--color-sea-green-400: #47b670;
	--color-sea-green-500: #19a350;
	--color-sea-green-600: #148240;
	--color-sea-green-700: #0f6230;
	--color-sea-green-800: #0a4120;
	--color-sea-green-900: #052110;
	--color-sea-green-950: #04180c;

	--color-gold-50: #fffbe5;
	--color-gold-100: #fff6cc;
	--color-gold-200: #ffee99;
	--color-gold-300: #ffe666;
	--color-gold-400: #ffdd33;
	--color-gold-500: #ffd500;
	--color-gold-600: #ccaa00;
	--color-gold-700: #998000;
	--color-gold-800: #665500;
	--color-gold-900: #332b00;
	--color-gold-950: #241e00;

	--color-neutral-50: #f9fafb;
	--color-neutral-100: #f3f4f6;
	--color-neutral-200: #e5e7eb;
	--color-neutral-300: #d1d5db;
	--color-neutral-400: #9ca3af;
	--color-neutral-500: #6b7280;
	--color-neutral-600: #4b5563;
	--color-neutral-700: #374151;
	--color-neutral-800: #1f2937;
	--color-neutral-900: #111827;
	--color-neutral-950: #030712;
}
