:root {
	--rounded-xs: 0.25rem;
	--rounded-sm: 0.5rem;
	--rounded-base: 1rem;
	--rounded-lg: 1.5rem;
	--rounded-xl: 2rem;
	--rounded-2xl: 3rem;
	--rounded-3xl: 4rem;
	--rounded-4xl: 6rem;
	--rounded-5xl: 8rem;
	--rounded-6xl: 12rem;
	--rounded-7xl: 16rem;
	--rounded-8xl: 24rem;
	--rounded-9xl: 32rem;
}
