:root {
	--size-3xs: 16rem; // 256px
	--size-2xs: 18rem; // 288px
	--size-xs: 20rem; // 320px
	--size-sm: 24rem; // 384px
	--size-md: 28rem; // 448px
	--size-lg: 32rem; // 512px
	--size-xl: 36rem; // 576px
	--size-2xl: 42rem; // 672px
	--size-3xl: 48rem; // 768px
	--size-4xl: 56rem; // 896px
	--size-5xl: 64rem; // 1024px
	--size-6xl: 72rem; // 1152px
	--size-7xl: 80rem; // 1280px
	--size-8xl: 96rem; // 1536px

	// Icon sizes
	--size-icon-xs: 1rem;
	--size-icon-sm: 1.25rem;
	--size-icon-md: 1.5rem;
	--size-icon-lg: 2rem;
	--size-icon-xl: 2.5rem;
}
