:root {
	--size-xs: 0.25rem;
	--size-sm: 0.5rem;
	--size-base: 1rem;
	--size-lg: 1.5rem;
	--size-xl: 2rem;
	--size-2xl: 3rem;
	--size-3xl: 4rem;
	--size-4xl: 6rem;
	--size-5xl: 8rem;
	--size-6xl: 12rem;
	--size-7xl: 16rem;
	--size-8xl: 24rem;
	--size-9xl: 32rem;

	// Icon sizes
	--size-icon-xs: 1rem;
	--size-icon-sm: 1.25rem;
	--size-icon-base: 1.5rem;
	--size-icon-lg: 2rem;
	--size-icon-xl: 2.5rem;
	--size-icon-2xl: 3rem;
	--size-icon-3xl: 4rem;
	--size-icon-4xl: 6rem;
	--size-icon-5xl: 8rem;
	--size-icon-6xl: 12rem;
	--size-icon-7xl: 16rem;
	--size-icon-8xl: 24rem;
	--size-icon-9xl: 32rem;
}
