:root[data-theme='light'] {
	--color-background: var(--color-neutral-50);
	--color-border: var(--color-neutral-200);
	--color-border-hover: var(--color-neutral-300);
	--surface: var(--color-neutral-100);
	--surface-hover: var(--color-neutral-200);
	--on-surface: black;
}

:root[data-theme='dark'] {
	--color-background: var(--color-neutral-950);
	--color-border: var(--color-neutral-700);
	--color-border-hover: var(--color-neutral-600);
	--surface: var(--color-neutral-900);
	--surface-hover: var(--color-neutral-800);
	--on-surface: white;
}
