:root[data-theme='light'] {
	--background-color: white;
	--border-color: var(--color-neutral-200);
	--border-color-hover: var(--color-neutral-300);
	--surface-color: var(--color-neutral-50);
	--surface-color-hover: var(--color-neutral-100);
	--on-surface-color: black;
}

:root[data-theme='dark'] {
	--background-color: black;
	--border-color: var(--color-neutral-700);
	--border-color-hover: var(--color-neutral-600);
	--surface-color: var(--color-neutral-950);
	--surface-color-hover: var(--color-neutral-900);
	--on-surface-color: white;
}