:root[data-theme='light'] {
	--color-background: white;
	--color-border: var(--color-neutral-200);
	--color-border-hover: var(--color-neutral-300);
	--color-surface-background: var(--color-neutral-50);
	--color-surface-foreground: black;
	--color-surface-background-hover: var(--color-neutral-100);
}

:root[data-theme='dark'] {
	--color-background: black;
	--color-border: var(--color-neutral-700);
	--color-border-hover: var(--color-neutral-600);
	--color-surface-background: var(--color-neutral-950);
	--color-surface-foreground: #322929;
	--color-surface-background-hover: var(--color-neutral-900);
}