@use "@/styles/breakpoints" as breakpoint;

.categories {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding-inline: var(--spacing-md);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-bold);
      color: var(--color-surface-foreground);
    }
  }

  &--mobile {
    @include breakpoint.sm {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include breakpoint.sm {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-md);
    }

    @include breakpoint.md {
      grid-template-columns: repeat(6, 1fr);
    }

    @include breakpoint.lg {
      grid-template-columns: repeat(8, 1fr);
    }

    .category-card {
      display: none;

      & .category-card__image {
        aspect-ratio: 1;
      }

      @include breakpoint.sm {
        &:nth-child(-n+4) {
          display: block;
        }
      }

      @include breakpoint.md {
        &:nth-child(-n+6) {
          display: block;
        }
      }

      @include breakpoint.lg {
        &:nth-child(-n+8) {
          display: block;
        }
      }
    }
  }

  .carousel {
    padding-block: var(--spacing-sm);
  }

  .carousel__item {
    min-width: 140px;

    @include breakpoint.md {
      width: 160px;
    }
  }
}