.input,
.input-group__input {
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--color-surface-foreground);
}

.input,
.input-group {
	&--subtle {
		background-color: var(--color-surface-background);
		outline: 1px solid var(--color-border);
	}

	&--outline {
		border: 1px solid var(--color-border);
	}

	&--none {
		background-color: transparent;
	}
}

.input-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0.5rem;
	padding-inline: 1rem;

	&__addon {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		svg {
			width: 1.25rem;
			height: 1.25rem;
			fill: var(--color-surface-foreground);
		}
	}
}