@use "@/styles/breakpoints" as breakpoint;

.categories {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: var(--font-size-2xl);
            font-weight: var(--font-weight-bold);
            color: var(--color-surface-foreground);
        }
    }

    .carousel {
        padding-block: var(--spacing-sm);
    }

    .carousel__item {
        width: 140px;

        @include breakpoint.md {
            width: 160px;
        }
    }
}