:root {
	--lui-palette-base: #fff;
	
	--lui-palette-brand1: #101464;
	--lui-palette-brand2: #fcec00;

	--lui-shade-50: #f3f3f3;
	--lui-shade-100: #dcdcdc;
	--lui-shade-200: #c5c5c5;
	--lui-shade-300: #aeaeae;
	--lui-shade-400: #979797;
	--lui-shade-500: #808080;
	--lui-shade-600: #686868;
	--lui-shade-700: #515151;
	--lui-shade-800: #3a3a3a;
	--lui-shade-900: #232323;
	--lui-shade-950: #0c0c0c;

	--lui-palette-danger-50: #fdeeea;
	--lui-palette-danger-100: #f9cdbf;
	--lui-palette-danger-200: #f6ac94;
	--lui-palette-danger-300: #f28a6a;
	--lui-palette-danger-400: #ee693f;
	--lui-palette-danger-500: #eb4714;
	--lui-palette-danger-600: #c03a11;
	--lui-palette-danger-700: #952d0d;
	--lui-palette-danger-800: #6b2009;
	--lui-palette-danger-900: #401306;
	--lui-palette-danger-950: #150602;

	--lui-palette-warning-50: #fdf8ea;
	--lui-palette-warning-100: #f8eac0;
	--lui-palette-warning-200: #f4dc96;
	--lui-palette-warning-300: #efce6d;
	--lui-palette-warning-400: #eac143;
	--lui-palette-warning-500: #e6b319;
	--lui-palette-warning-600: #bc9215;
	--lui-palette-warning-700: #927210;
	--lui-palette-warning-800: #68510b;
	--lui-palette-warning-900: #3f3107;
	--lui-palette-warning-950: #151002;

	--lui-palette-success-50: #ecfbf4;
	--lui-palette-success-100: #c6f2de;
	--lui-palette-success-200: #a1e9c8;
	--lui-palette-success-300: #7be1b1;
	--lui-palette-success-400: #55d89b;
	--lui-palette-success-500: #30cf85;
	--lui-palette-success-600: #27aa6d;
	--lui-palette-success-700: #1e8455;
	--lui-palette-success-800: #165e3c;
	--lui-palette-success-900: #0d3924;
	--lui-palette-success-950: #04130c;

	--lui-palette-info-50: #eaf0fd;
	--lui-palette-info-100: #c0d3f8;
	--lui-palette-info-200: #96b6f4;
	--lui-palette-info-300: #6d98ef;
	--lui-palette-info-300: #437bea;
	--lui-palette-info-500: #195de6;
	--lui-palette-info-600: #154cbc;
	--lui-palette-info-700: #103b92;
	--lui-palette-info-800: #0b2a68;
	--lui-palette-info-900: #07193f;
	--lui-palette-info-950: #020815;
}
