.sidebar {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-md);
    overflow-y: auto;
    height: 100%;
    width: var(--size-3xs);
    max-width: var(--size-3xs);
    background-color: var(--color-surface-background);
    // Hidden scrollbar for Webkit browsers
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none; // Hidden scrollbar for Firefox

    &__header, &__footer {
        background-color: var(--color-surface-background);
        padding: var(--spacing-md);
        position: sticky;
        z-index: 1;
    }

    &__header {
        top: 0;
    }

    &__footer {
        bottom: 0;
    }

    &__group {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-md);
        padding: var(--spacing-md);
        border-radius: var(--border-radius-md);

        &-title {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal);
            color: var(--color-neutral-300);
        }

        &--grow {
            flex-grow: 1;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);
        padding: var(--spacing-sm);
        border-radius: var(--rounded-lg);
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--color-surface-background-hover);
        }

        &-icon > svg {
            width: var(--size-icon-sm);
            height: var(--size-icon-sm);
        }
    }
}